# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3

# Virtual Environment
env/
venv/
ENV/
.venv/
.pyvenv/
pyvenv.cfg

# VS Code
.vscode/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Python packaging
*.egg
*.egg-info/
dist/
build/
*.wheel

# FastAPI specific
*.db
*.sqlite3

# Pipenv
Pipfile
Pipfile.lock

# Pytest
.cache/
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
*.cover
*.py,cover

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Uvicorn
*.pid